<div
  class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-50"
>
  <div class="bg-white shadow-lg rounded-lg p-6 w-10/12 relative">
    <h2 class="text-xl font-bold text-gray-800 mb-4">Edit Note</h2>
    <form [formGroup]="noteForm" (submit)="saveNote()">
      <!-- Pole tytułu -->
      <div class="mb-4">
        <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
        <input
          id="title"
          type="text"
          formControlName="title"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Enter title"
        />
        @if (noteForm.controls['title'].errors && noteForm.controls['title'].touched) {
        <div class="text-red-600 text-sm mt-1">
          @if (noteForm.controls['title'].errors['required']) {
          <p>Title is required.</p>
          } @else if (noteForm.controls['title'].errors['minlength']) {
          <p>Title must be at least 3 characters.</p>
          }
        </div>
        }
      </div>

      <!-- Pole treści -->
      <div class="mb-4">
        <label for="content" class="block text-sm font-medium text-gray-700">Content</label>
        <textarea
          id="content"
          rows="4"
          formControlName="content"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Enter content"
        ></textarea>
        @if (noteForm.controls['content'].errors && noteForm.controls['content'].touched) {
        <div class="text-red-600 text-sm mt-1">
          @if (noteForm.controls['content'].errors['required']) {
          <p>Content is required.</p>
          } @else if (noteForm.controls['content'].errors['minlength']) {
          <p>Content must be at least 5 characters.</p>
          }
        </div>
        }
      </div>

      <!-- Pole tagów -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Tags</label>
        <app-tag [tags]="tags" (tagsChanged)="addTagsEvent($event)"></app-tag>
      </div>

      <!-- Przyciski -->
      <div class="flex justify-end space-x-4 mt-6">
        <button
          type="button"
          class="px-4 py-2 bg-gradient-to-r from-gray-400 to-gray-500 text-white font-semibold rounded-lg shadow-md hover:scale-105 hover:shadow-lg transition-transform"
          (click)="onCancel()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="px-4 py-2 bg-gradient-to-r from-blue-500 to-blue-600 text-white font-semibold rounded-lg shadow-md hover:scale-105 hover:shadow-lg transition-transform"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
