<div
  class="flex items-center justify-center h-screen bg-gray-100 dark:bg-gray-800"
>
  <div
    class="w-full max-w-lg p-6 bg-white border rounded-lg shadow-lg dark:bg-gray-900 dark:border-gray-700"
  >
    <h2
      class="text-3xl font-bold text-center text-blue-700 dark:text-white mb-8"
    >
      Login
    </h2>
    <form [formGroup]="loginForm" (submit)="validateForm()">
      <div class="mb-6">
        @if (errors.has('email')) {
        <label
          for="error_email"
          class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500"
          >Email</label
        >
        <input
          type="text"
          id="error_email"
          formControlName="email"
          class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
          placeholder="Not valid data"
        />
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          {{ errors.get("email") }}
        </p>
        } @else if (errors.has('main')) {
        <label
          for="error_email"
          class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500"
          >Email</label
        >
        <input
          type="text"
          id="error_email"
          formControlName="email"
          class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
          placeholder="Not valid data"
        />
        } @else {
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Email</label
        >
        <input
          type="email"
          id="email"
          formControlName="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="john.doe@company.com"
          required
        />
        }
      </div>
      <div class="mb-6">
        @if (errors.has('password')) {
        <label
          for="error_password"
          class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500"
          >Password</label
        >
        <input
          type="password"
          id="error_password"
          formControlName="password"
          class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
          placeholder="Not valid data"
        />
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          {{ errors.get("password") }}
        </p>
        } @else if (errors.has('main')) {
        <label
          for="error_password"
          class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500"
          >Password</label
        >
        <input
          type="password"
          id="error_password"
          formControlName="password"
          class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
          placeholder="Not valid data"
        />
        } @else {
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Password</label
        >
        <input
          type="password"
          id="password"
          formControlName="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="•••••••••"
          required
        />
        }
        @if (errors.has('main')) {
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            {{ errors.get('main') }}
          </p>
        }
      </div>

      <div class="flex flex-col space-y-4 w-full">
        <button
          type="submit"
          class="w-full px-5 py-2.5 text-sm font-medium text-white text-center bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Sign In
        </button>
      
        <a
          routerLink="/"
          class="w-full px-5 py-2.5 text-sm font-medium text-gray-700 text-center bg-gray-200 rounded-lg shadow-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300"
        >
          Back
        </a>
      </div>
      
      
    </form>
  </div>
</div>
